body
{

	font-family: 'Open Sans';
	color: #34495e;
	background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6
{	
	font-weight: 300;
}

h1
{
	font-size:  6rem;
}

h2
{
	font-size:  4rem;
	line-height: 6rem;
}

h3
{
	font-size:  2.5rem;
	line-height: 3rem;
}

h4
{
	font-size:  2rem;
	line-height: 3rem;
  	color:#a4abb3;	
}




#logo
{
	margin-right:15px;
}
