@media(min-width:1200px)
{
	html
	{
		font-size:60%;
		line-height:1.2rem;
	}
}
@media(min-width:992px) and (max-width:1199px)
{
	html
	{
		font-size:50%;
		line-height:1.2rem;
	}
}
@media(min-width:768px) and (max-width:992px)
{
	html
	{
		font-size:29%;
		line-height:0.8rem;
	}
}

@media(min-width:1201px)
{
	.carousel-caption h1
	{
		margin-top:-40px;
		font-size:4.5rem;
		line-height:3rem;
	}
}
@media(max-width:1201px)
{
	.carousel-caption h2
	{
		font-size:2rem;
		
	}
}

@media(max-width:1200px)
{
	.carousel-caption h1
	{
		margin-top:-220px;
		font-size:4rem;
		line-height:3rem;
	}
}

@media(max-width:1200px)
{
	.carousel-caption h2
	{
		font-size:2.5rem;
		
	}
}
@media(max-width:1200px)
{
	.carousel-caption p
	{		
		font-size:1.7rem;

	}
}



@media(max-width:992px)
{
	.carousel-caption h1
	{
		margin-top:-220px;
		font-size:5.5rem;
		line-height:3rem;
	}
}
@media(max-width:992px)
{
	.carousel-caption p
	{		
		font-size:2.8rem;

	}
}



@media(max-width:767px)
{
	.carousel-caption h1
	{
		margin-top:-350px;
		font-size:2rem;
		line-height:5rem;
	}
}
@media(max-width:767px)
{
	.carousel-caption h2
	{
		margin-top:-20px;
		font-size:1.4rem;
		line-height:4rem;
	}
}
@media(max-width:767px)
{
	.carousel-caption p
	{
		margin-top:-10px;
		font-size:1.2rem;
		line-height:2.5rem;
	}
}




@media(min-width:1200px)
{
	.txt-podst
	{
		margin-top:-190px;
		font-size:6.5rem;
		line-height:3rem;
	}
}

@media(min-width:992px) and (max-width:1199px)

{
	.txt-podst
	{
		margin-top:-220px;
		font-size:6.5rem;
		line-height:3rem;
	}
}

@media(min-width:768px) and (max-width:992px)

{
	.txt-podst
	{
		margin-top:-260px;
		font-size:6.5rem;
		line-height:3rem;
	}
}

@media(max-width:768px)
{
	.txt-podst
	{
		margin-top:-260px;
		font-size:3rem;
		line-height:5rem;
	}
}